
.list h1{
    font-size: 28px;
    font-weight: 900;
    color: #555;
    margin-top:20px;
    
}
.list{
    
    text-align: center;
    line-height: 170%;
    
}
.item-list{
    background-color: #fff;
    height: 250px;
    margin:50px 10px 20px 10px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px 0px rgba(153,153,153,1);
    
}

.item-list .book-img img{
    max-width: 250px;
    max-height: 250px;
}
.book-info{
    padding: 10px 20px;
}
.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px ;
    box-sizing: border-box;
    max-height: 250px;
    width: 100%;
}
.item-btn{
    border: none;
    background-color: #9871f5;
    height: 50px;
    width: 100%;
    font-size: large;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-btn a{
    color: #fff;
}
.item-btn:hover{
    background: #8b5afc; 
}
.select-block {
    position: relative;
    margin-top:1.4rem;
  }
  
  #search-teachers .select-block + .select-block {
    margin-top: 1.4rem;
  }

.dashboard-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 300px;
    margin: 50px auto 0;
    background-color: #fff;
    overflow: hidden;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
}
  

  
.dashboard-menu li {
    display: flex;
    min-width: 250px;
    height: 50px;
    margin-top: 0.8rem;
    background: #eee;
    border: 1px solid #777;
    padding: 0 1.6rem;
    align-items: center;
    justify-content: center;

}
.dashboard-menu li:hover{
    background: rgb(209, 209, 209);
}
.dashboard-menu h1{
    font-weight: 800;
    color: #777;
}
.form-btn {
border: none;
background: #9871f5;
width: 250px;
height: 50px;
font-size: large;
color: #fff;
margin-top: 45px;
cursor: pointer;
}
.form-btn:hover{
    background: #8b5afc; 
}

  
