

main{
    line-height: 170%;
  }
  main .form-main{
    width: 320px;
    background: #fff;
    font-family: Lato;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-top: 10px solid #9871f5;
    
}
.form-input {
    border: none;
    background: #eee;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: large;
    margin-bottom: 10px
}
.form-btn {
    border: none;
    background: #9871f5;
    width: 100%;
    height: 50px;
    font-size: large;
    color: #fff;
    margin-bottom: 10px;
}


