
section{
    margin-bottom: 60px;
}
h2{
    font-size: 18px;
}
.banner{
    
    margin:0 auto 40px auto;
}

.banner-container{
    
   
    margin: 0 auto 0 auto;
}

.banner-content h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9871f5;
}
.banner-content .subtitle{
    color: #777;
    font-weight: 700;
    padding: 0 !important;
}
.home .banner h2{
    border-bottom: #9871f5 3px solid;
    padding: 20px 0;
    
}
.home .banner p{
    padding: 20px 0;
}
.aside{
   
    padding: 20px 60px;
    
    margin:0 auto;  
}
.aside-box{
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 10px solid #9871f5;
    padding: 20px;
    box-shadow: 0px 3px 9px 0px rgba(153,153,153,1);
}
.aside-box ul{
    margin:20px auto;
}
.btn-aside, .btn-home{
    border: none;
    background: #9871f5;
    font-size: large;
    color: #fff;
    
    padding: 10px 20px;
    display: inline-block;
}


.btn-home, .btn-aside:hover{
    background: #8b5afc;   
}
.btn-aside{
    border-radius: 50px;
 }
 